.calendar {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  .fc .fc-toolbar {
    flex-wrap: wrap;
  }
  .fc-button {
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important ;
    color: #9092ad !important;
    @media (max-width: 768px) {
      margin: 4px 0 !important;
    }
  }
  .fc-toolbar-title {
    font-size: 1rem !important;
    @media (min-width: 768px) {
      font-size: 1.4rem !important;
    }
  }
  label {
    font-weight: 500;
  }
}
.modal-dialog {
  .modal-content {
    input {
      font-size: 14px !important;
      border: none !important;
      background-color: #e8f0fe !important;
      font-weight: 500 !important;
      &:focus,
      &:hover {
        background-color: #e8f0fe !important;
      }
    }
  }
}
